{% extends 'base.html' %}
{% block content %}

  </body>
      <div style="height:500px;
      margin:auto;
      margin-top:30px;
      margin-left:200px;
      width:700px;
      height:50px;
      backgrund-color:red;">
        <h1 style="color:rgba(0,0,255,0.5); margin-left:250px; padding:5px;">About Us</h1>
        <p style="color:rgb(0,0,0); margin-left:30px;">We’ve seen and done it all and came together to start First Site Guide because we believe in the web for everyone. We can help you start a personal or business blog/site, a place to show your hobbies, offer advice to others or just to share personal stories, pictures and videos.

The web is a great place to be and make new connections from all parts of the world or just your own neighborhood.<br><br>
 Buy, sell, share your hobby passion or just educate and entertain. We want you to be a part of it, and we can help you to get there with our useful resources and easy to follow step-by-step Free guides.

Once we get you there, don’t forget to check back in for news, advice, social media and marketing articles to help you navigate the digital highway. Bookmark us, like us, follow us and we’ll be your digital information source. If you have any questions feel free to contact us at any time.</p>
      </div>
      <div style="border:2px solid black; margin-top:350px; background-color:rgb(0,13,26); height:200px; width:1400px; margin-left:-120px;">
          <h6 style="color:white; padding-left:350px; padding-top:50px; ">Contact-Us :<a href="#" style="color:white"> +91-9968635393</a></h6>
          <h6 style="color:white; padding-left:350px;">Email : <a href="#" style="color:white">tanu@gmail.com</a></h6>
      </div>
{% endblock content %}
